:root{

  --color-background: white;
  --color-font: #291f00;
  --color-main: #FCC201;
  --color-button-hoover: #c8c8c880;
  --color-button-active: #c8c8c8f2;
}

nav>ol>li>a>div {
  background-color: var(--color-button-inactive);
}

nav>ol>li>a>div:hover {
  background-color: var(--color-button-hoover);
}

html,
body {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Sono', sans-serif; */
  /* font-family: 'Kalam'; */
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  margin: 0;
  padding: 0;
  color:var(--color-font);
  background-color: var(--color-background);
}

a {
  color: #291f00;
  text-decoration: none;
}

table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
  font-size: 2vh;
  font-weight: 600;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

/* @media only screen and (min-width: 1025px) and (max-width: 1280px) { */
@media only screen and (min-width: 1025px) {
  nav {
    width: calc(100% - 218px - 280px);
    margin-right: 168px;
    margin-left: 280px;
  }

  #container {
    min-height: calc(100vh - 130px);
  }

  nav>ol>li>a>div {
    height: 79px;
  }

  header {
    margin-bottom: -80px;
  }

  #web_name{
    margin-right: -300px;
  }
}

/* @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  nav {
    width: 100%;
    height: 40px;
  }

  header {
    padding-bottom: 40px;
    height: 40px;
  }

  nav>ol>li>a>div {
    height: 39px;
  }

  header {
    margin-bottom: -40px;
  }

  #container {
    min-height: calc(100vh - 170px);
  }

  #social_icons {
    border-left-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
  }
}


#container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  /* border-style: solid;
  border-width: 1px; */
}

main {
  flex: 1;
}

.social_icon {
  width: 40px;
  height: 40px;
  /* filter: invert(1); */
}

.social_icon:hover {
  width: 38px;
  height: 38px;
  margin-left: 1px;
  margin-right: 1px;
}

#social_icons {
  float: right;
  height: 100%;
  /* background-color: aqua; */
  /* padding-left: 20px;
  padding-right: 10px; */
  /* background-color: rgba(200, 202, 208, 0.4); */
  width: 218px;
  margin-left: -200px;
}

#web_name {
  /* font-size: 26px; */
  font-size: 1.625em;
  font-weight: 600;
  /* overflow: hidden; */
  white-space: nowrap;
  /* text-align: right; */
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  width: 250px;
}

nav {
  background-color: var(--color-main);

  height: 0px;
  display: table;
  table-layout: fixed;
  font-size: 20px;
  /* background-color: aqua; */
}

nav>ol {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  display: table-row;
}

nav>ol>li {
  display: table-cell;
  height: 100%;
}

nav>ol>li>a>div {

  overflow: hidden;
  white-space: nowrap;

  font-size: 16x;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  border-left-style: solid;
  border-top-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 1px;
}

nav>ol>li:last-child>a>div {
  border-right-style: solid;
}

nav>ol>li>a:hover {
  cursor: pointer;
}

header {
  height: 80px;
  background-color: var(--color-main);
}

header>div {
  height: 100%;

  display: flex;
  align-items: center;

  float: left;
  text-align: center;
}

main>div {
  display: none;
  padding: 30px;
}

footer {
  background-color: var(--color-main);
  height: 50px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 4vh;
  font-weight: 600;
  text-align: right;
}

footer>div {
  float: right;
  padding-right: 10px;
}

footer>div:first-child {
  padding-top: 14px;
  padding-right: 16px;
}

#dstart {
  display: block;
}