  @media only screen and (max-width: 1024px) and (orientation: portrait){

    div {
      /* background-color: orange; */
    }

    header {
      height: 122px;
    }

    #web_name {
      width: 100%;
      height: 70px;
      display: table-cell;
      padding: 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

    #social_icons {
      width: 100%;
      display: table-row;
      padding: 5px;
      height: 40px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

    #social_icon {
      display: table-cell;
    }

    nav {
      width: 100%;
      height: 40px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

    nav>ol>li>a>div {
      height: 39px;
    }

    #container {
      min-height: calc(100vh - 170px);
    }
  }